/* main */

body {
    margin: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to right, rgb(138, 241, 107), rgb(34, 177, 76));
}

html {
            scroll-behavior: smooth;
}

.container {
    margin: 0px 0px;
    background-color:rgba(240, 248, 255, 0.798);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.header-line {
    margin: 0px 120px;
    padding-top: 5px;
    display: flex;
    align-items: center;

    justify-content: space-around;
}

.header {
    background-image: url('bg6.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.6);
}

/*OCb*/

.header-logo img{
    width: 60px;
    height: 70px;
}

.fext {
    display: flex;
    align-items: center;
}

.phoneimg img {
    width: 23px;
    height: 23px;
}


.header-logo {
    margin-left: 5px;
    margin-bottom: 5px;
}

.nav-item {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    background-color:rgba(240, 248, 255, 0);
    border-radius: 15px;
    padding: 0px 7px;
    margin-right: 25px;

    transition: color 0.3s linear;
    transition: background-color 0.5s linear;
}

.nav-item:hover {
    border: 1px solid  rgb(104, 193, 15);
    border-radius: 15px;
    color:rgb(255, 255, 255);
    background-color: rgb(104, 193, 15);

}

.num {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    
    transition: color 0.3s linear;
}

.num:hover {
    color:rgb(104, 198, 10);
}

.phone-text {
    font-size: 700;
    font-weight: 20px;
    color: #000000;
}

.phone-holder {
    display: flex;
    align-items: center;
    margin-right: 75px;
}


.btn button {
    background-color:rgb(83, 156, 9);
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.5s linear;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.btn button:hover {
    background-color: rgb(191, 244, 138);
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffef;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    .leg{
        font-size: 30px;
    }

    label{
     margin-left: 29%;
    }

  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.597);
  }

.popup button{
      margin-top: 1%;
      height: 30px;
      width: 200px;
    margin-left: 35%;
    transition: 0.5s;
}

.popup button:hover{
    transform: scale(1.1);
    background-color: rgb(83, 156, 9);
    color: #fff;
}

#sendText{
    text-align: center;
    margin-left: 26%;
}

.filt {
    background-color: rgba(0, 0, 0, 0.396);
    height: 340px;
}

.textt {
    color: #fff;
    text-align: center;
    font-size: 80px;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.8);
    margin-top: 130px;
}

.texttt{
    margin-top: 30px;
    margin-left: 14.5%;
    width: 70%;
    color:rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 22px;
    font-weight: 520;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.8);
}

.about {
    margin-left: 35%;
    margin-top: 40px;
}

.about1 {
    background-color:rgba(0, 0, 0, 0.212);
    color: #fff;
    text-decoration: none;
    padding: 5px 40px;
    font-weight: 500;
    border-radius: 4px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s linear;
    border: 1px solid #fff;
}

.about1:hover {
    background-color: #ffffff77;
    text-decoration: underline;
}

.fle {
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
}

.menu {
    width: 250px;
    height: 630px;
    margin: 30px; 
    background-color: rgb(83, 156, 9);
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.menutext {
    padding-left: 35px;
}

.menu .menutext a {
    display: block;
}

.sanat {
    text-decoration: none;
    color: #fff;
    padding-top: 30px;
    font-size: 17px;

    transition: 0.3s linear;
}

.sanat:hover {
    color:rgba(52, 84, 210, 0.89);
    text-decoration: underline;
}

.grid-container {
    margin-top: 30px;
    margin-left: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Чотири колонки з рівною шириною */
    grid-gap: 40px; /* Проміжок між елементами */
  }
  
  .grid-item {
    background-color: #f1f1f1a9;
    width: 250px;
    height: 290px;
    border-radius: 15px;
    transition: 0.3s linear;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

    .grid-item:hover{
    transform: translateY(-10px);
    box-shadow: 0px 5px 5px  rgba(6, 13, 7, 0.326);
    }

    

  /*1*/
.termstar {
    text-decoration: none;
}

.termstarimg {
    margin-top: 10px;
    margin-left: 10px;

}

.termstarimg img {
    border-radius: 10px;
}

.que {
    margin-top: 0px;
    margin-left: 5px;
    display: flex;
    align-items: center;

}

.que span{
    color: #000000;
    font-size: 13px;
}

.text1 {
    text-align: center;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.text1:hover {
    text-decoration:underline;
}

.prise {
    margin-top: 10px;
    text-align: center;
    color: #000000;
    font-size: 17px;
}

.prise b{
    color: green;
    font-size: 20px;
}

/*2*/
.kd {
    text-decoration: none;
}

.kdimg {
    margin-top: 10px;
    margin-left: 10px;

}

.kdimg img {
    border-radius: 10px;
}

/*3*/
.kz {
    text-decoration: none;
}

.kzimg {
    margin-top: 10px;
    margin-left: 10px;

}

.kzimg img {
    border-radius: 10px;
}

/*4*/
.sz {
    text-decoration: none;
}

.szimg {
    margin-top: 10px;
    margin-left: 10px;

}

.szimg img {
    border-radius: 10px;
}

/*5*/
.sin {
    text-decoration: none;
}

.sinimg {
    margin-top: 10px;
    margin-left: 10px;

}

.sinimg img {
    border-radius: 10px;
}

/*6*/
.vy {
    text-decoration: none;
}

.vyimg {
    margin-top: 10px;
    margin-left: 10px;

}

.vyimg img {
    border-radius: 10px;
}

/*7*/
.dz {
    text-decoration: none;
}

.dzimg {
    margin-top: 10px;
    margin-left: 10px;

}

.dzimg img {
    border-radius: 10px;
}

/*8*/
.ib {
    text-decoration: none;
}

.ibimg {
    margin-top: 10px;
    margin-left: 10px;

}

.ibimg img {
    border-radius: 10px;
}

/*9*/
.gt {
    text-decoration: none;
}

.gtimg {
    margin-top: 10px;
    margin-left: 10px;

}

.gtimg img {
    border-radius: 10px;
}

/*10*/
.bgv {
    text-decoration: none;
}

.bgvimg {
    margin-top: 10px;
    margin-left: 10px;

}

.bgvimg img {
    border-radius: 10px;
}

/*11*/
.tp {
    text-decoration: none;
}

.tpimg {
    margin-top: 10px;
    margin-left: 10px;

}

.tpimg img {
    border-radius: 10px;
}

/*12*/
.kp {
    text-decoration: none;
}

.kpimg {
    margin-top: 10px;
    margin-left: 10px;

}

.kpimg img {
    border-radius: 10px;
}

.mmm1 {
    background-color: rgb(83, 156, 9);
    color: rgb(83, 156, 9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
}

.mmm{
    margin: 30px;
    display: flex;
}

.meni {
    width: 250px;
    height: 150px;
    background-color: rgb(83, 156, 9);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}

.meni button {
    margin-top: 22px;
    margin-left: 40px;
    background-color: rgb(83, 156, 9);
    border: none;
    color: #fff;
    font-size: 15px;
    transition: 0.3s linear;
}

.meni button:hover{
    color:rgba(52, 84, 210, 0.89);
    text-decoration: underline;
}

.blokk {
    margin-left: 50px;
    width: 1120px;
    height: 780px;
    background-color: #f1f1f1a9;
    padding-left: 30px;
    border-radius: 20px;
    font-size: 17px;
    letter-spacing: 0.5px;
    text-align: justify;
    padding-right: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}


.blokk h3 {
    text-align: center;
    text-decoration: underline;
}

.blokk h4 {
    margin-left: 40px;
    text-decoration: underline;
}

.image-list li{
    margin-top: 10px;
    list-style-type: none;
}

.image-list img {
    width: 18px; 
    height: 18px;
    padding-right: 20px;
}

.image-list1 li{
    margin-top: 16px;
    list-style-type: none;
}

.image-list1 img {
    width: 18px; 
    height: 18px;
    padding-right: 20px;
}


.content {
    opacity: 0;
    transition: opacity 0.6s ease; /* Плавний перехід прозорості протягом 0.5 секунди з затримкою в 0.5 секунд */
    display: none; /* Відповідає за видимість, спочатку всі блоки приховані */
  }
  
.content.active {
    display: block; /* Показуємо блок */
    opacity: 1; /* Змінюємо прозорість */
    transition: opacity 0.6s ease;
  }
  

.blokk iframe{
    border-radius: 10px;
}

  /*footer*/

  .podv {
    height: 80px;
    margin: 1px 0px;
    background:  rgb(83, 156, 9);
    }
    
    .podvimg {
        display: flex;
    }
    
    .inst {
        margin-top: 10px;
        margin-left: 42.1%;
    
        img{
        width: 40px;
        height: 40px;
        }
    }
    
    .face {
        margin-left: 30px;
        margin-top: 10px;
        img{
        width: 40px;
        height: 40px;
        }
    }
    
    .teleg {
        margin-left: 30px;
        margin-top: 10px;
        img{
        width: 40px;
        height: 40px;
        }
    }
    
    .viber {
        margin-left: 30px;
        margin-top: 10px;
        img{
        width: 40px;
        height: 40px;
        }
    }
    
    .bottom-text {
        margin-top: 5px;
        color: #fff;
        text-align: center;
        font-size: 17px;
    }


    @media only screen 
    and (device-width: 375px) 
    and (device-height: 812px)   {
      
        .container {
            margin: 0px 0px;
            background-color:rgba(240, 248, 255, 0.798);
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
        }
        
        .header-line {
            height: 160px;
            margin: 0px;
            display: block;
            align-items: center;
        
            justify-content: space-between;

            
        }
        
        .header {
            background-image: url('bg6.jpg');
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .header-logo {
            margin-left: 5px;
            margin-bottom: 0px;
        }
        
        .header-logo img{
            margin-top: 9%;
            margin-left: 45.5%;
            margin-bottom: 1%;
            width: 42px;
            height: 46px;
        }
        
        
        .nav{
            height: 20px;
        }


        #nuv1 {
            margin-left: 6px;
        }

        #nuv2 {
            margin-right: -10px;
            margin-left: -13px;

        }

        #nuv3 {
            margin-right: -10px;
            margin-left: 18px;
        }

        #nuv4 {
            margin-right: -20px;
            margin-left: 20px;
        }

        .nav-item {
            color: #000000;
            text-decoration: none;
            font-weight: 700;
            font-size: 13.5px;
            background-color:rgba(240, 248, 255, 0);
            padding: 0px 3px;
            border: 1px solid  rgba(0, 0, 0, 0.241);
        
            transition: color 0.3s linear;
            transition: background-color 0.5s linear;
            
        }
        
        .nav-item:hover {
            border: 1px solid  rgba(52, 83, 210, 0.7);
            color:rgb(255, 255, 255);
            background-color: rgba(52, 83, 210, 0.7);
        
        }
        
        .num {
            color: #000000;
            text-decoration: none;
            font-weight: 700;
            font-size: 9.5px;
            
            transition: color 0.3s linear;
        }
        
        .num:hover {
            color:rgb(104, 198, 10);
        }
        
        .phonetext {
            font-size: 11px;
            color: #000000;
        }
        
        .phoneimg img {
            width: 15px;
            height: 15px;
        }
        
        .phone-holder {
            display: flex;
            align-items: center;
            margin-top: -5px;
        }
        
        .btn button {
            background-color:rgb(83, 156, 9);
            color: #fff;
            text-decoration: none;
            padding: 5px 7px;
            font-weight: 700;
            font-size: 11.6px;
            border: none;
            border-radius: 5px;
            transition: background-color 0.5s linear;
            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
            margin-left: 0px;
        }
        

        .btn button:hover {
            background-color:rgb(191, 244, 138);
        }
    
    
        .fext {
            margin-left: 15%;
            margin-top: 5%;
            display: flex;
            align-items: center;
        }
    
    
        
    .popup {
        width: 300px;
        height: 180px;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffffef;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
        .leg{
            margin-top: -10px;
            font-size: 20px;
            text-align: center;
        }
    
        form input {
            height: 15px;
            width: 140px;
        }
    
        label{
         margin-left: 15%;
         font-size: 10px;
        }
    
      }
    
      .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.597);
      }
    
    .popup button{
        font-size: 9px;
          height: 17px;
          width: 140px;
        margin-left: 27%;
        margin-top: -20px;
        transition: 0.5s;
    }
    
    .popup button:hover{
        transform: scale(1.1);
        background-color: rgb(83, 156, 9);
        color: #fff;
    }
    
    #sendText{
        text-align: center;
        font-size: 10px;
        margin-top: -100px;
    }
    


    /* index */
    .filt {
        background-color: rgba(0, 0, 0, 0.6);
        height: 380px;
    }
    
    .textt {
        margin-top: 10px;
        color: #fff;
        text-align: center;
        font-size: 30px;
        text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.8);
        margin-top: 110px;
    }
    
    .texttt{
        margin-top: 20px;
        color:rgb(255, 255, 255);
        text-align: justify;
        letter-spacing: 0.5px;
        font-size: 13.5px;
        font-weight: 520;
        text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.8);
    }
    
    .about {
        margin-left: 0%;
        margin-top: 25px;
    }
    
    .about1 {
        background-color:rgba(0, 0, 0, 0.212);
        color: #fff;
        text-decoration: none;
        padding: 5px 40px;
        font-weight: 500;
        border-radius: 4px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
        transition: background-color 0.5s linear;
        border: 1px solid #fff;
        font-size: 10px;
        margin-left: 35px;
    }
    
    .about1:hover {
        background-color: #ffffff77;
        text-decoration: underline;
    }
    
    .fle {
        display: flex;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    
    .menu {
        display: none;
    }
    
    .menutext {
        padding-left: 35px;
    }
    
    .menu .menutext a {
        display: block;
    }
    
    .ba3a {
        text-decoration: none;
        color: #fff;
        padding-top: 30px;
        font-size: 17px;
    
        transition: 0.3s linear;
    }
    
    .ba3a:hover {
        color:rgb(111, 214, 9);
    }
    
    .grid-container {
        margin-top: 10px;
        margin-left: 7px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Чотири колонки з рівною шириною */
        grid-gap: 20px; /* Проміжок між елементами */
      }
      
      .grid-item {
        background-color: #f1f1f1dc;
        width: 170px;
        height: 200px;
        border-radius: 15px;
        transition: 0.3s linear;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    }
    
        .grid-item:hover{
        transform: translateY(-10px);
        box-shadow: 0px 5px 5px  rgba(6, 13, 7, 0.326);
        }
    
        
    /*1*/
    .termstar {
        text-decoration: none;
    }
    
    .termstarimg {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .termstarimg img {
        border-radius: 10px;
        width: 150px;
        height: 110px;
    }
    
    .que {
        margin-top: 0px;
        margin-left: 8px;
        display: flex;
        align-items: center;
    }
    
.que img {
    width: 70px;
    height: 20px;
}

    .que span{
        color: #000000;
        font-size: 9px;
    }
    
    .text1 {
        text-align: center;
        color: #000000;
        font-size: 12px;
        font-weight: 600;
    }
    
    .text1:hover {
        text-decoration:underline;
    }
    
    .prise {
        margin-top: 5px;
        text-align: center;
        color: #000000;
        font-size: 15px;
    }
    
    .prise b{
        color: green;
        font-size: 18px;
    }
    
    /*2*/

    .que img {
        width: 70px;
        height: 20px;
    }

    .kd {
        text-decoration: none;
    }
    
    .kdimg {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .kdimg img {
        border-radius: 10px;
        width: 150px;
        height: 110px;
    }
    
    /*3*/

    .que img {
        width: 70px;
        height: 20px;
    }


    .kz {
        text-decoration: none;
    }
    
    .kzimg {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .kzimg img {
        border-radius: 10px;
        width: 150px;
        height: 110px;
    }
    
    /*4*/

    .que img {
        width: 70px;
        height: 20px;
    }


    .sz {
        text-decoration: none;
    }
    
    .szimg {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .szimg img {
        border-radius: 10px;
        width: 150px;
        height: 110px;
    }
    
    /*5*/

    .que img {
        width: 70px;
        height: 20px;
    }


    .sin {
        text-decoration: none;
    }
    
    .sinimg {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .sinimg img {
        border-radius: 10px;
        width: 150px;
        height: 110px;
    }
    
    /*6*/

    .que img {
        width: 70px;
        height: 20px;
    }


    .vy {
        text-decoration: none;
    }
    
    .vyimg {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .vyimg img {
        border-radius: 10px;
        width: 150px;
        height: 110px;
    }
    
    /*7*/

    .que img {
        width: 70px;
        height: 20px;
    }


    .dz {
        text-decoration: none;
    }
    
    .dzimg {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .dzimg img {
        border-radius: 10px;
        width: 150px;
        height: 110px;
    }
    
    /*8*/

    .que img {
        width: 70px;
        height: 20px;
    }


    .ib {
        text-decoration: none;
    }
    
    .ibimg {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .ibimg img {
        border-radius: 10px;
    }
    
    /*9*/

    .que img {
        width: 70px;
        height: 20px;
    }


    .gt {
        text-decoration: none;
    }
    
    .gtimg {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .gtimg img {
        border-radius: 10px;
        width: 150px;
        height: 110px;
    }
    
    /*10*/

    .que img {
        width: 70px;
        height: 20px;
    }


    .bgv {
        text-decoration: none;
    }
    
    .bgvimg {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .bgvimg img {
        border-radius: 10px;
        width: 150px;
        height: 110px;
    }
    
    /*11*/

    .que img {
        width: 70px;
        height: 20px;
    }


    .tp {
        text-decoration: none;
    }
    
    .tpimg {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .tpimg img {
        border-radius: 10px;
        width: 150px;
        height: 110px;
    }
    
    /*12*/

    .que img {
        width: 70px;
        height: 20px;
    }


    .kp {
        text-decoration: none;
    }
    
    .kpimg {
        margin-top: 10px;
        margin-left: 10px;
    
    }
    
    .kpimg img {
        border-radius: 10px;
        width: 150px;
        height: 110px;
    }
    
    .ibimg img {
        border-radius: 10px;
        width: 150px;
        height: 110px;
    }
    
    .weatherwidget-io {
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .mmm1 {
        background-color: rgba(52, 83, 210, 0.7);
        color: rgba(52, 83, 210, 0.7);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        border-radius: 40px;
    }
    
    .mmm{
        margin-left: 16px;
        display: block;
    }
    
    .meni {
        width: 340px;
        height: 50px;
        background-color:rgb(83, 156, 9);
        border-radius: 20px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        display: flex;
    }

    .meni button {
        margin-top: 0px;
        margin-left: 0px;
        background-color:rgba(52, 84, 210, 0.052);
        border: none;
        color: #fff;
        font-size: 17px;
        transition: 0.3s linear;
    }
    
    .meni button:hover{
        color: rgba(52, 84, 210, 0.89);
        text-decoration: underline;
    }

    #btn1 {
        margin-left: 20px;
    }

    #btn2 {
        margin-right: 2px;
    }
    
    .blokk {
        margin-left: 0px;
        width: 285px;
        height: 800px;
        background-color: #f1f1f1a9;
        padding-left: 30px;
        border-radius: 20px;
        font-size: 11.5px;
        text-align: justify;
        padding-right: 30px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }
    
    
    .blokk h3 {
        text-align: center;
        text-decoration: underline;
        font-size: 15px;
    }
    
    .blokk h4 {
        margin-left: 1px;
        text-decoration: underline;
        font-size: 12px;
    }

    
    .image-list li{
        margin-top: 5px;
        list-style-type: none;
    }
    
    .image-list img {
        width: 18px; 
        height: 18px;
        padding-right: 25px;
    }
    
    .span11 {
        display: none;
    }

    .image-list1 li{
        margin-top: 14px;
        list-style-type: none;
    }
    
    .image-list1 img {
        width: 18px; 
        height: 18px;
        padding-right: 20px;
    }
    
    
    .content {
        opacity: 0;
        transition: opacity 0.6s ease; /* Плавний перехід прозорості протягом 0.5 секунди з затримкою в 0.5 секунд */
        display: none; /* Відповідає за видимість, спочатку всі блоки приховані */
      }
      
    .content.active {
        display: block; /* Показуємо блок */
        opacity: 1; /* Змінюємо прозорість */
        transition: opacity 0.6s ease;
      }
      
    
    .blokk iframe{
        border-radius: 10px;
        width: 288px;
        height: 750px;
    }

       /*footer*/

.podv {
    height: 80px;
    margin: 0px 0px;
    background:  rgb(83, 156, 9);
    }
    
    .podvimg {
        display: flex;
    }
    
    .inst {
        margin-top: 10px;
        margin-left: 27%;
    
        img{
        width: 32px;
        height: 32px;
        }
    }
    
    .face {
        margin-left: 15px;
        margin-top: 10px;
        img{
            width: 32px;
            height: 32px;
        }
    }
    
    .teleg {
        margin-left: 15px;
        margin-top: 10px;
        img{
            width: 32px;
            height: 32px;
        }
    }
    
    .viber {
        margin-left: 15px;
        margin-top: 10px;
        img{
            width: 32px;
            height: 32px;
        }
    }
    
    .bottom-text {
        margin-top: 7px;
        color: #fff;
        text-align: center;
        font-size: 15px;
    }
    



}